a.copyButton { color: green; padding-left: 10px; font-size: 20px; line-height: 1.6; margin: 10px 0; font-weight: 400; } 
.commadlist .copyCode { font-size: 20px; line-height: 1.6; overflow-wrap: break-word; margin: 10px 0; font-weight: 400; } 
.row.commadlist { border: green 1px solid; margin-right: -10px; margin-left: -10px; margin-top: 10px; } 